body {
    background: url('../images/tte.jpg') no-repeat center center fixed; 
    font-family:'Monsterrat', sans-serif;
}
.btn{
    margin-top: 10px;
}
.container {
    min-width: 800px;
}
.jumbotron {
    min-width: 800px;
    color: snow;
    background-color: #337AB7;
    margin-top: 20px;
}
label {
    margin-top: 5px;
}
table {
    border-collapse: separate;
    border-spacing: 5px;
}

